<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <title>Beat IELTS vocabulary</title>
    <link rel="stylesheet" href="/static/css/app.css" type="text/css">
</head>
<body class="js-app">
    <nav class="top-bar js-top-bar"></nav>
    <div class="main-view js-main-view"></div>
    <footer class="footer-menu js-footer-menu"></footer>
{% include 'js_templates.html' %}
<script data-main="/static/js/app/config" src="/static/js/libs/require.js"></script>
</body>
</html>
